@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --translate-percentage: 400%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
  background-color: burlywood;
}

.box {
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(var(--translate-percentage));
  transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
  transform: translateX(calc(var(--translate-percentage) * -1));
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 24px;
}
